<!DOCTYPE html>
<html>
  <head>
    <title>ごはんマネージャー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-light shadow my-2">
        <%= link_to image_tag("/assets/logo.png"), root_path,  class: "navbar-brand" %>
        <%= link_to 'ログイン', "#", class: "btn border border-primary col-3" %>
        <%= link_to '新規登録', "#", class: "btn border border-danger col-3" %>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>
